@import "https://unpkg.com/open-props";

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --heading-bg: var(--red-2);
    --button-bg: var(--blue-6);
    --button-color: white;
}

.logo {
    width: 64px;
    height: 64px;
    grid-area: logo;
}

header {
    display: grid;
    grid-template-columns: 64px 1fr;
    column-gap: 10px;
    align-items: center;
    grid-template-areas: 
        "logo h1 login"
        "logo subheading login";
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

header h1 {
    grid-area: h1;
    margin: 0;
    line-height: 1rem;
}

header .subheading {
    grid-area: subheading;
    margin: 0;
}

@media screen and (max-width: 390px) {
    header h1, header .subheading {
        display: none;
    }
}

header .login {
    grid-area: login;
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    background-color: var(--button-bg);
    color: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

main {
    padding: 0 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.ribbon {
    background-color: var(--heading-bg);
    margin-bottom: 10px;
    padding: 0 var(--size-4);
    display: flex;
    align-items: center;
    gap: var(--size-4);
    text-transform: uppercase;
    letter-spacing: 0.015em;
    margin: 0 -10px;
}